@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
}

.header-navbar .navbar-header .navbar-brand {
	padding: 10px 0 15px;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-brand {
	padding: 10px 0 15px;
}

/* .bg-full-screen-image{
    background-image: url(../images/bg-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

.navbar-semi-light,
footer.footer-dark {
	background: rgba(231, 56, 39, 1);
	background: -moz-linear-gradient(left,
			rgba(231, 56, 39, 1) 0%,
			rgba(235, 33, 46, 0.86) 100%);
	background: -webkit-gradient(left top,
			right top,
			color-stop(0%, rgba(231, 56, 39, 1)),
			color-stop(100%, rgba(235, 33, 46, 0.86)));
	background: -webkit-linear-gradient(left,
			rgba(231, 56, 39, 1) 0%,
			rgba(235, 33, 46, 0.86) 100%);
	background: -o-linear-gradient(left,
			rgba(231, 56, 39, 1) 0%,
			rgba(235, 33, 46, 0.86) 100%);
	background: -ms-linear-gradient(left,
			rgba(231, 56, 39, 1) 0%,
			rgba(235, 33, 46, 0.86) 100%);
	background: linear-gradient(to right,
			rgba(231, 56, 39, 1) 0%,
			rgba(235, 33, 46, 0.86) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e73827', endColorstr='#eb212e', GradientType=1);

	/* background-image: -webkit-gradient(linear,left top,right top,from(#FF425C),to(#FFA8B4));
     background-image: -webkit-linear-gradient(left,#FF425C 0,#FFA8B4 100%);
     background-image: -moz-linear-gradient(left,#FF425C 0,#FFA8B4 100%);
     background-image: -o-linear-gradient(left,#FF425C 0,#FFA8B4 100%);
     background-image: linear-gradient(to right,#FF425C 0,#FFA8B4 100%);
     background-repeat: repeat-x; */
}

.navbar-semi-light .navbar-nav .nav-link {
	font-size: 16px;
	font-weight: 500;
}

/* .dropdown-toggle::after{
    display: none;
} */

.media i {
	font-size: 22px;
	color: #fff;
}

.main-menu.menu-light .navigation>li.open {
	border-color: #eb212e;
}

.main-menu.menu-light .navigation>li ul .active>a {
	color: #eb212e;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content a.menu-title,
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>span.menu-title {
	background: #eb212e;
	border-color: #eb212e;
}

.usser_box {
	background-image: -webkit-gradient(linear,
			left top,
			right top,
			from(#ff425c),
			to(#ffa8b4));
	background-image: -webkit-linear-gradient(left, #ff425c 0, #ffa8b4 100%);
	background-image: -moz-linear-gradient(left, #ff425c 0, #ffa8b4 100%);
	background-image: -o-linear-gradient(left, #ff425c 0, #ffa8b4 100%);
	background-image: linear-gradient(to right, #ff425c 0, #ffa8b4 100%);
	background-repeat: repeat-x;
}

.second_box {
	background-image: -webkit-gradient(linear,
			left top,
			right top,
			from(#008385),
			to(#00e7eb));
	background-image: -webkit-linear-gradient(left, #008385 0, #00e7eb 100%);
	background-image: -moz-linear-gradient(left, #008385 0, #00e7eb 100%);
	background-image: -o-linear-gradient(left, #008385 0, #00e7eb 100%);
	background-image: linear-gradient(to right, #008385 0, #00e7eb 100%);
	background-repeat: repeat-x;
}

.third_box {
	background-image: -webkit-gradient(linear,
			left top,
			right top,
			from(#ff864a),
			to(#ffcab0));
	background-image: -webkit-linear-gradient(left, #ff864a 0, #ffcab0 100%);
	background-image: -moz-linear-gradient(left, #ff864a 0, #ffcab0 100%);
	background-image: -o-linear-gradient(left, #ff864a 0, #ffcab0 100%);
	background-image: linear-gradient(to right, #ff864a 0, #ffcab0 100%);
	background-repeat: repeat-x;
}

.new_bg {
	background-image: -webkit-gradient(linear,
			left top,
			right top,
			from(#11a578),
			to(#32eab2));
	background-image: -webkit-linear-gradient(left, #11a578 0, #32eab2 100%);
	background-image: -moz-linear-gradient(left, #11a578 0, #32eab2 100%);
	background-image: -o-linear-gradient(left, #11a578 0, #32eab2 100%);
	background-image: linear-gradient(to right, #11a578 0, #32eab2 100%);
	background-repeat: repeat-x;
}

.promotion_bg {
	background: rgba(123, 31, 162, 1);
	background: -moz-linear-gradient(left,
			rgba(123, 31, 162, 1) 0%,
			rgba(186, 104, 200, 0.81) 100%);
	background: -webkit-gradient(left top,
			right top,
			color-stop(0%, rgba(123, 31, 162, 1)),
			color-stop(100%, rgba(186, 104, 200, 0.81)));
	background: -webkit-linear-gradient(left,
			rgba(123, 31, 162, 1) 0%,
			rgba(186, 104, 200, 0.81) 100%);
	background: -o-linear-gradient(left,
			rgba(123, 31, 162, 1) 0%,
			rgba(186, 104, 200, 0.81) 100%);
	background: -ms-linear-gradient(left,
			rgba(123, 31, 162, 1) 0%,
			rgba(186, 104, 200, 0.81) 100%);
	background: linear-gradient(to right,
			rgba(123, 31, 162, 1) 0%,
			rgba(186, 104, 200, 0.81) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7b1fa2', endColorstr='#ba68c8', GradientType=1);
	background-repeat: repeat-x;
}

.pace .pace-progress {
	background: #ff6275 !important;
}

.usser_box h5 {
	display: inline-block;
	/* text-align: right; */
	vertical-align: top;
	color: #fff;
	font-size: 16px;
	padding-left: 30px;
	margin-bottom: 0;
}

.header-navbar .navbar-header .navbar-brand .brand-logo {
	max-width: 35px;
}

.table td,
.table th {
	vertical-align: middle;
	text-align: center;
	/* text-transform: capitalize; */
}

.table td .table_img {
	max-width: 62px;
	/* border-radius: 50%; */
}

.header-navbar .navbar-header .navbar-brand .brand-text {
	vertical-align: top;
}

.usser_box span {
	font-size: 18px;
	color: #fff;
	display: block;
	margin-top: 10px;
}

.icon {
	float: left;
}

.usser_box span i {
	font-size: 18px;
}

.footer {
	bottom: unset;
}

.footer.footer-dark {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9;
}

.create-wrapper {
	background: #eb3e3f;
	border-radius: 10px;
}

.create-wrapper form .form-group {
	margin-bottom: 0;
	position: relative;
}

.create-wrapper h4 {
	font-size: 21px;
	color: #fff;
	text-transform: capitalize;
	font-weight: 600;
}

.custom-file-label {
	border-radius: 20px;
	color: #b8c3d6;
	border: 0;
}

.create-wrapper form .form-control {
	border: 0;
	color: #b8c3d6;
}

.custom-file-input:lang(en)~.custom-file-label::after {
	/* content: '\f0c6';
    font-family: 'FontAwesome'; */
	border-radius: 20px;
	background: #eb3e3f;
	color: #fff;
	height: 37px;
	right: 3px;
	top: 2px;
	line-height: 14px;
}

/* do not group these rules */
*::-webkit-input-placeholder {
	color: red;
}

*:-moz-placeholder {
	/* FF 4-18 */
	color: red;
	opacity: 1;
}

*::-moz-placeholder {
	/* FF 19+ */
	color: red;
	opacity: 1;
}

*:-ms-input-placeholder {
	/* IE 10+ */
	color: red;
}

*::-ms-input-placeholder {
	/* Microsoft Edge */
	color: red;
}

*::placeholder {
	/* modern browser */
	color: red;
}

.white {
	background-color: #fff;
}

.submit_btn {
	padding: 8px 15px;
	font-size: 13px;
	border: 0;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 20px;
	background: #fff;
	color: #eb3e3f;
}

.submit_btn:hover {
	background: #333;
	color: #fff;
}

.create-wrapper textarea#descTextarea {
	border-radius: 10px;
}

.create {
	background: #eb3d3e;
	color: #fff;
}

.create:hover {
	background: #333;
	color: #fff;
}

.media-left i {
	color: #333;
}

.media-list .media .media-left {
	padding-right: 0;
	width: 35px;
}

.media-list .media {
	padding: 15px;
}

.media-body h6 {
	text-transform: capitalize;
}

span.percentage {
	position: absolute;
	right: 5px;
	top: 7px;
	background: #eb3e3f;
	color: #fff;
	padding: 4px 10px;
	border-radius: 10px;
	display: none;
}

.coupon-grid {
	background: #fff;
	padding: 15px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	width: 100%;
	height: 190px;
}

.coupon-grid img {
	object-fit: cover;
	height: 160px;
}

.coupon_name {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	padding: 0 15px;
	bottom: -580px;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.6);
	color: #333;
	font-weight: 500;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
}

.coupon_name p {
	margin-bottom: 0;
	padding: 15px 0;
	text-transform: capitalize;
}

.coupon-grid:hover .coupon_name {
	bottom: 0;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
}

.media.profil-cover-details {
	position: absolute;
	margin-top: 200px;
}

.card .card-title {
	color: #fff;
	font-weight: 600;
}

.created_coupon h3 {
	text-transform: capitalize;
}

.coupon_box {
	-webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07),
		0 2px 9px 0 rgba(62, 57, 107, 0.06);
	box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07),
		0 2px 9px 0 rgba(62, 57, 107, 0.06);
}

.newpage {
	cursor: pointer;
	z-index: -1;
}

.name_type i {
	color: #d21f26;
	font-weight: 600;
}

.name_type p {
	font-size: 14px;
}

.approve_btn {
	padding: 6px;
	font-size: 12px;
	text-transform: capitalize;
	font-weight: bold;
	background-color: #e93a31;
	border: 0;
	color: #fff;
	z-index: 999;
}

.un-approve_btn {
	padding: 6px 15px;
	font-size: 12px;
	text-transform: capitalize;
	font-weight: bold;
	background-color: #15b30b;
	border: 0;
	color: #fff;
	z-index: 999;
}

.approve_btn:hover {
	color: #fff;
}

.view_btn {
	background: #e93a30;
	padding: 5px 10px;
	font-weight: bold;
	color: #fff;
	border: 0;
	font-size: 12px;
	text-transform: capitalize;
}

.view_btn:hover {
	color: #fff;
}

.category_name h3 {
	font-size: 30px;
	font-weight: bold;
	padding: 12px 0;
}

.recover_password {
	background: #d31f26;
	border: 0;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}

.recover_password:hover {
	background: #333;
	color: #fff;
}

.form-horizontal a,
.card-footer p a {
	color: #d31f26;
}

table.dataTable td,
table.dataTable th {
	font-size: 12px;
}

.table td,
.table th {
	font-size: 12px;
}

div.dataTables_wrapper div.dataTables_info {
	padding: 25px 0 15px;
}

div.dataTables_wrapper div.dataTables_paginate {
	padding: 15px 0;
}



.page-link {
	color: #cc1418 !important;
	border: 1px solid #cc1418 !important;
}

.page-item.active .page-link {
	background-color: #cc1418;
	border-color: #cc1418;
	color: #fff !important;
}

.table tr td a {
	color: #cc1418;
}

/* div.table-responsive>div.dataTables_wrapper>div.row {
	margin: 30px !important;
} */

/* .navigation li.active{
    background-color: #d21f26;
    color: #fff; 
} */

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

	/* Force table to not be like tables anymore */
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		margin: 0 0 1rem 0;
	}

	tr:nth-child(odd) {
		background: #ccc;
		margin-bottom: 0;
	}

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		/* top: 0; */
		left: 15px;
		width: 45%;
		padding-right: 10px;
		text-align: left;
		/* white-space: nowrap; */
	}

	.table td {
		text-align: right;
	}

	/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
	td:nth-of-type(1):before {
		content: "Edit";
	}

	td:nth-of-type(2):before {
		content: "User Type";
	}

	td:nth-of-type(3):before {
		content: "Coupon Type";
	}

	td:nth-of-type(4):before {
		content: "Coupon Name";
	}

	td:nth-of-type(5):before {
		content: "Value";
	}

	td:nth-of-type(6):before {
		content: "Status";
	}

	/*td:nth-of-type(7):before { content: "Date of Birth"; }
		td:nth-of-type(8):before { content: "Dream Vacation City"; }
		td:nth-of-type(9):before { content: "GPA"; }
		td:nth-of-type(10):before { content: "Arbitrary Data"; } */
}

@media (max-width: 767px) {
	.usser_box h5 {
		font-size: 12px;
		padding-left: 35px;
	}

	.custom-control {
		padding-left: 0;
	}

	.custom-control-label::after,
	.custom-control-label::before {
		left: -2rem;
	}
}

@media (max-width: 320px) {
	/* .usser_box h5 {
    padding-left: 5px;
} */
}

.flash-alert {
	position: fixed;
	bottom: 5px;
	left: 2%;
	width: 96%;
	z-index: 99999;
}

.alert .close {
	position: absolute;
	right: 5px;
	top: 8px;
}

.flash-alert .alert {
	display: none;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
	width: fit-content;
	padding: 15px 35px 15px 20px;
}

.flash-alert .alert.show {
	display: block;
}

.flash-alert .alert-danger {
	color: #eb3e3f;
	background-color: #ffffff;
	border-color: #eb3e3f;
}